

html, body, div, header, nav, section, aside, article, footer, figure, figcaption, fieldset, legend, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a:link {
    color: #4f4f4f;
    text-decoration: none;
}
a:visited {
    color: #8a8e91;
    text-decoration: none;
}
a:hover, a:focus {
    color: #ff0000;
    text-decoration: none;
}

.readble-hidden {
    position: absolute;
    left: -9999em;
}

.skipNav {
    position: absolute;
    left: -9999em;
}
.skipNav:focus {
    left: 50%;
    margin: 1em 0 0 -5em;
    padding: 5px 1em;
    color: #fff;
    background: #000;
    z-index: 10;
}