@font-face {
    font-family: fontello;
    font-weight: 400;
    font-style: normal;
    src: url('../font/fontello.eot');
    src: url('../font/fontello.eot#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2') format('woff2'),
         url('../font/fontello.woff') format('woff'),
         url('../font/fontello.ttf') format('truetype'),
         url('../font/fontello.svg') format('svg')
}